@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap');

@media screen and (max-width: 700px) {
    #textbox1 { font-size: 5px; }
}

body {
    background-color: black;
    font-family: "Arimo SemiBold", serif;
    font-size: 10px;
    color: white;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: inline-flex;
    background-color: white;
    color: black;
}

nav img {
    height: 150px;
    width: 150px;
    transition: 0.7s;
}

nav img:hover {
    transform: rotate(360deg);
}

ul {
    display: inline-grid;
}

li {
    text-align: center;
    font-size: 30px;
    list-style-type: none;
    margin: auto;
}

li a {
    text-decoration: none;
    color: black;
    font-family: "Source Sans Pro ExtraLight", serif;
    transition: 1s;
}

li a:hover {
    font-size: 40px;
    color: red;
}

@media screen and (max-width: 700px) {
    .container img { width: 200px; height: 200px }
}

.container {
    position: relative;
    margin-top: 150px;
    display: grid;
    justify-content: center;
}

.container img {
    margin-top: 3em;
    width: 28em;
    height: 28em;
    padding: 20px;
    border-radius: 50%;
    transition: 1s;
}

#textbox1 {
    margin-top: 50px;
    margin-left: 25px;
    display: grid;
    justify-content: left;
    color: white;
    font-size: 1.5em;
}

.textbutton {
    margin-top: 150px;
    margin-right: 25px;
    display: grid;
    justify-content: center;
    color: white;
    font-size: 15px;
}

.textbutton button a {
    text-decoration: none;
    width: 7em;
    font-size: 2em;
    font-family: "Arimo SemiBold", serif;
    color: black;
}

.abouth {
    text-align: center;
    font-size: 3.5em;
    margin-top: 6em;
    margin-left: 10%;
}

.aboutme {
    text-align: center;
    font-size: 2.5em;
    margin: 5% 20% 10%;
}

@media (max-width: 750px) {
    .abouth {
        margin-top: 10em;
        font-size: 2em;
    }
    .aboutme {
        font-size: 1.5em;
    }

    .img2 {
        height: 30em;
        width: 30em;
        margin: 0 0 5em 10em;
    }
}

.img2 {
    float: left;
    height: 28em;
    width: 28em;
    border-radius: 50%;
    margin-left: 5%;
    margin-right: 5%;
}

.soon {
    margin-top: 20em;
    text-align: center;
    color: white;
}

.soon h1 {
    font-size: 5em;
    margin-bottom: 10em;
}

.contact {
    justify-content: center;
    font-size: 2em;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20em 2em 2em 2em;
    color: white;
    text-align: center;
}

.media {
    margin-left: 2em;
    margin-right: 2em;
}

@media screen and (max-width: 700px) {
    .contact { display: inline-block;}
}

.contact img {
    border-radius: 12px;
    height: 10em;
    width: 10em;
}

footer {
    left: 0;
    position: absolute;
    width: 100%;
    height: 12vh;
    background-color: white;
    color: black;
    text-align: center;
    margin-top: 10em;
    padding-top: 2em;
    font-family: "Arimo SemiBold", serif;
    font-size: 1.5em;
}